@model Role_Based_Authorization.Models.BlogPost
<div>
    <h2>@Html.Label(Model.Title)</h2>
    <h4>@Html.Label(Model.Description)</h4>
    <div>
        @Html.Label(Model.Content)
    </div>
    <div>
        <h3>Comments</h3>
        @foreach (Role_Based_Authorization.Models.Comment item in Model.Comments)
        {
            <div>
                @Html.Label(item.Text)
            </div>
        }
    </div>
</div>
